body {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

header {
    font-family: "Oswald", sans-serif;
}
h3{
    color: tomato;
    text-align: center;
}

span {
    color: tomato;
}

button {
    border-color: black;
    background-color: black;
    padding: 10px;
    margin-right: 10px;
    color: tomato;
    font-size: 15.5px;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
    color: white;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    color: tomato;
    border-color: black;
}

table th {
    padding: 10px;
    margin-right: 10px;
    color: tomato;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}

td {
    color: black;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}

a:visited{
    color: black;
}
a:hover{
    color: tomato;
}